.nav-container {
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.anchor-nav{
    text-decoration: none;   
    color: #444;             
    font-weight: 500;
    cursor: pointer;
    font-family: 'sans-serif';
}

.anchor-nav:visited {
    color: #444;
}

.anchor-nav:hover {
    color: #000;
}

.nav-left{
    justify-content: left;
    display: flex;
    gap: 20px;
}

.nav-right {
    justify-content: right;
}

.logo{
   height: 50px;
}